@import "style.scss";

#aboutPage {
    min-height: pxToRem(820);
    
    
    .overlay {
        background-image: url(../../assets/about-background.jpg);
        opacity: 0.25;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        background-position: center 10%;
    }
    
    h1 {
        position: absolute;
        margin-top: pxToRem(115);
        margin-left: pxToRem(85);
        font-size: pxToEm(52);
        color: $gold;
    }
    
    h2 {
        position: absolute;
        font-weight: normal;
        font-size: pxToEm(20);
        margin-top: pxToRem(225);
        margin-left: pxToRem(85);
        width: pxToRem(540);
        line-height: pxToEm(30);
        
        span {
            margin-bottom: pxToRem(40);
        }
        
        a {
            color: $gold;
            text-decoration: none;
            display: inline-block;
            transition: 2s ease-in;
            position: relative;
        }
        
        //Hover effect for links
        a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          border-bottom: 2px solid $gold;
          transition: 0.4s;
        }
        
        a:hover:after {
          width: 100%;
        }
    }
}

@include tablet {
    
    #aboutPage {
        .overlay {
            background-image: url(../../assets/about-background-mobile.jpg);
            transform: none;
        }
        
        h1 {
            font-size: pxToEm(45);
            margin-left: pxToRem(45);
            margin-top: pxToRem(140);
        }
        
        h2 {
            font-size: pxToEm(16);
            line-height: pxToEm(30);
            width: pxToRem(400);
            margin-left: pxToRem(45);
            margin-top: pxToRem(250);
        }
    }
}

@include mobile {
    
    #aboutPage {
        .overlay {
            background-image: url(../../assets/about-background-mobile.jpg);
            transform: none;
        }
        
        h1 {
            font-size: pxToEm(45);
            margin-left: pxToRem(45);
            margin-top: pxToRem(140);
        }
        
        h2 {
            font-size: pxToEm(16);
            line-height: pxToEm(30);
            width: pxToRem(400);
            margin-left: pxToRem(45);
            margin-top: pxToRem(250);
        }
    }
}