@import "style.scss";

#contactPage {
    .overlay {
        background-image: url(../../assets/contact-background.jpeg);
        background-position: center 10%;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        opacity: 0.25;
    }
    h1 {
        font-size: pxToEm(52);
        color: $gold;
        position: absolute;
        margin-top: pxToRem(115);
        margin-left: pxToRem(80);
    }
    
    h2 {
        font-size: pxToEm(18);
        position: absolute;
        margin-top: pxToRem(190);
        margin-left: pxToRem(80);
        width: pxToRem(520);
        line-height: pxToRem(26);
        font-weight: normal;
    }
    
    #contactForm {
        z-index: 1;
        position: absolute;
        margin-top: pxToRem(300);
        margin-left: pxToRem(80);
        
        //All includes exclude submit button
        input:not(.submit) {
            font-family: $defaultFont;
            font-size: pxToEm(20);
            height: pxToRem(55);
            border: none;
            background-color: #37393B;
            text-indent: pxToRem(15);
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        input[placeholder], textarea {
            font-family: $defaultFont;
            font-size: pxToEm(20);
            color: $offwhite;
        }
        
        input[name=name] {
            margin-right: pxToRem(13);
            width: pxToRem(250);
        }
        
        input[name=email] {
            width: pxToRem(250);
        }
        
        input[name=subject] {
            display: block;
            width: 100%;
            margin-top: pxToRem(15);
        }
        
        textarea {
            display: block;
            resize: none;
            border: none;
            height: pxToRem(230);
            width: 100%;
            margin-top: pxToRem(15);
            padding: pxToRem(15);
            background-color: #37393B;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: border-box;
        }
        
        input:focus, textarea:focus {
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
            border: 1px solid $gold;
        }
        
        .submit {
            float: right;
            font-size: pxToEm(18);
            margin-top: pxToRem(15);
        }
        
        //Google Chrome autofill styling
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 pxToRem(12) 0 rgba(0,0,0,0.5) !important;
            -webkit-text-fill-color: $offwhite !important;
            transition: background-color 5500s ease-in-out 0s;
            caret-color: $offwhite;
        }
    }
}