@import "style.scss";

//Styling for landing page

#landingPage {
    
    //Main container
    .container {
        
        //Background image
        .overlay {
            background-image: url(../../assets/landing-background.jpeg);
            opacity: 0.25;
        }
        
        //Title font
        h1 {
            position: absolute;
            font-size: pxToEm(52);
            margin-top: pxToRem(200);
            margin-left: pxToRem(80);
            width: pxToRem(585);
        }
        
        //Subtitle
        h2 {
            position: absolute;
            color: $offwhite;
            font-size: pxToEm(27);
            margin-top: pxToRem(470);
            margin-left: pxToRem(80);
            
        }
        
        button {
            position: absolute;
            margin-top: pxToRem(535);
            margin-left: pxToRem(80);
        }
    }
}

//Responsiveness
@include tablet {
    #landingPage {
        .container {
            h1 {
                font-size: pxToEm(45);
                width: pxToRem(360);
            }
            
            h2 {
               margin-top: pxToRem(550);
               font-size: pxToEm(23);
           }
            
            button {
                bottom: pxToRem(170);
                margin: auto !important;
                left: 0;
                right: 0;
            }
        }
    }
}

@include mobile {
    
    #landingPage {
       .container {
            
           h1 {
               margin-top: pxToRem(50);
               font-size: pxToEm(45);
               width: pxToRem(360);
            }
           
           h2 {
               margin-top: pxToRem(400);
               font-size: pxToEm(23);
           }
            
           form {
               button {
                   margin: pxToRem(475) auto 0;
                   width: pxToRem(225);
                   left: 0;
                   right: 0;
               }
           }
        } 
    }   
}