@import "style.scss";

#projectsPage {
    
    //Hide carousel overflow
    overflow-x: hidden;
      
    .overlay {
        background-image: url(../../assets/projects-background.jpeg);
        background-position: center 10%;
        opacity: 0.25;
    }
    
    //projects carousel
    .owl-carousel{
        position: absolute;
        height: 100%;
        
        //individual project
        .item {
            //display: flex;
            //align-items: center;
            //justify-content: center;
            text-align: center;
            
            &.tl {
                //padding-top: pxToRem(120);
            }
        }
        
        .owl-stage-outer {
            @include vertical-align();
        }
        
        .owl-dots {
            position: absolute;
            bottom: pxToRem(100);
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        
        //navigation buttons
        .owl-dot {
            outline-style: none;
            &.active{
                span {
                    background: $gold;
                }
            }
        }
    }
    
    //project header
    h1 {
        color: $gold;
        font-size: pxToEm(52);
        padding-left: pxToRem(630);
        margin-top: 0;
    }
    
    
    //project description
    .description {
        font-size: pxToEm(18);
        line-height: pxToEm(36);
        list-style-type: none;
        color: $defaultFontColor;
        text-align: left;
        
        //Dash in front of list elements
        li:before {
            content: "-"; /* en dash */
            position: absolute;
            margin-left: -1em;
        }
    }
    
    //project disclaimer
    p {
        font-style: italic;
        font-size: pxToEm(16);
        text-align: center;
        margin-top: pxToRem(40);
        color: $defaultFontColor;
    }
    
    //container for laptop/phone images
    .image-container {
        display: inline-block;
        margin-right: pxToRem(95);
        vertical-align: middle;
    }
    
    .info-container {
        display: inline-block;
        vertical-align: middle;
    }
    
    //laptop image
    .laptop {
        display: inline-block;
        margin-right: pxToRem(40);
        width: pxToRem(350);
    }
    
    //phone image
    .phone {
        display: inline-block;
        width: pxToRem(120);
    }
}

@include tablet-large {
    
    #projectsPage {
        
        .info-container {
            
            padding-top: pxToRem(60);
            
            h1 {
                margin-bottom: pxToRem(270);   
            }
            
            .description {
                padding-top: pxToRem(70);
            }
            
        }
        
        .image-container {
            position: absolute;
            top: pxToRem(220);
        }
    }
}