@import "style.scss";

#projectsPage {
    
    //Hide carousel overflow
    overflow-x: hidden;
      
    .overlay {
        background-image: url(../../assets/projects-background.jpeg);
        background-position: center 10%;
        opacity: 0.25;
    }
    
    //projects carousel
    .owl-carousel{
        @include vertical-align(absolute);

        //Container for owl navigation
        .owl-dots {
            margin-top: pxToRem(80);
        }
        
        //navigation buttons
        .owl-dot {
            outline-style: none;
            &.active{
                span {
                    background: $gold;
                }
            }
        }
        
        //individual project
        .item {
            text-align: center;
            padding-right: pxToRem(55);
            
            //project header
            h1 {
                color: $gold;
                font-size: pxToEm(52);
                padding-left: pxToRem(630);
                margin-top: 0;
            }
            
            //container for laptop/phone images
            .image-container {
                display: inline-block;
                margin-right: pxToRem(95);
                vertical-align: middle;

                //laptop image
                .laptop {
                    display: inline-block;
                    margin-right: pxToRem(40);
                    width: pxToRem(350);
                }

                //phone image
                .phone {
                    display: inline-block;
                    width: pxToRem(120);
                }
            }

            //text descriptions
            .info-container {
                display: inline-block;
                vertical-align: middle;
                
                //project description
                .description {
                    font-size: pxToEm(18);
                    line-height: pxToEm(36);
                    list-style-type: none;
                    color: $defaultFontColor;
                    text-align: left;

                    //Dash in front of list elements
                    li:before {
                        content: "-"; /* en dash */
                        position: absolute;
                        margin-left: -1em;
                    }

                    li {
                        span {
                            display: block;
                        }
                    }
                }
                
                //project disclaimer
                p {
                    font-style: italic;
                    font-size: pxToEm(16);
                    text-align: center;
                    margin-top: pxToRem(40);
                    color: $defaultFontColor;
                }
            }
        }
    }
}

//Responsiveness
@include desktop-small {
    #projectsPage {
        
        .owl-carousel {
            .item {
                h1 {
                    padding-left: pxToRem(530);
                }

                .image-container {
                    margin-right: 0;

                    .laptop {
                        width: pxToRem(300);
                    }

                    .phone {
                        height: pxToRem(190);
                        width: auto;
                    }
                }
            }   
        }
    }
}

@include tablet-large {
    #projectsPage {
        
        .owl-carousel {
             
            .item {
                text-align: center;
                padding: 0;
                
                h1 {
                    font-size: pxToEm(40);
                    text-align: center;
                    margin-top: pxToRem(80);
                    margin-bottom: pxToRem(50);
                    padding: 0;
                }
                
                .image-container {
                    margin-right: unset;
                    vertical-align: unset;
                    width: 100%;
                    text-align: center;
                    
                    .laptop {
                        margin-right: pxToRem(40);
                        width: pxToRem(325);
                    }

                    .phone {
                        height: pxToRem(225);
                        width: auto;
                    }
                }
                
                .info-container {
                    margin: 0 auto;
                    width: pxToRem(660);
                    
                    .description {
                        font-size: pxToEm(15);
                        margin-top: pxToRem(15);
                        
                        li {
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
            
            .owl-dots {
                margin-top: pxToRem(10);
                padding: 0;
                
                button {
                    margin: 0 pxToRem(10);
                }
            }
        }
    }
}

@include tablet {
    #projectsPage {
        
        .owl-carousel {
        
            .item {
                text-align: center;
                padding: 0;
                
                h1 {
                    font-size: pxToEm(40);
                    text-align: center;
                    margin-top: pxToRem(80);
                    margin-bottom: pxToRem(50);
                    padding: 0;
                }
                
                .image-container {
                    margin-right: unset;
                    vertical-align: unset;
                    width: 100%;
                    text-align: center;
                    
                    .laptop {
                        margin-right: 0;
                        width: pxToRem(275);
                    }

                    .phone {
                        height: pxToRem(175);
                        width: auto;
                    }
                }
                
                .info-container {
                    margin: 0 auto;
                    width: pxToRem(530);
                    
                    .description {
                        font-size: pxToEm(15);
                        
                        li {
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
            
            .owl-dots {
                padding: 0;
                margin-top: pxToRem(20);
                
                button {
                    margin: 0 pxToRem(10);
                }
            }
        }
    }
}

@include mobile {
    
    body, html {
        min-height: pxToRem(850);
    }
    
    #projectsPage {
        
        .owl-carousel {            
            .owl-stage-outer {
                top: 0;
                -webkit-transform: none;
                transform: none;
            }
            
            .item {
                text-align: unset;
                padding: 0;
                
                h1 {
                    font-size: pxToEm(40);
                    text-align: center;
                    //margin-top: pxToRem(80);
                    margin-bottom: pxToRem(50);
                    padding: 0;
                }
                
                .image-container {
                    margin-right: unset;
                    vertical-align: unset;
                    width: 100%;
                    text-align: center;
                    
                    .laptop {
                        margin-right: 0;
                        width: pxToRem(275);
                    }

                    .phone {
                        height: pxToRem(175);
                        width: auto;
                    }
                }
                
                .info-container {
                    width: 100%;
                    
                    .description {
                        font-size: pxToEm(15);
                        
                        li {
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
            
            .owl-dots {
                margin-top: 0;
                padding: 0;
                
                button {
                    margin: 0 pxToRem(10);
                }
            }
        }
    }
}